body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
}

.qr-code {
    padding: 15px;
    border-radius: 20px;
}

.title {
    font-weight: 700;
    text-align: center;
    color: hsl(218, 44%, 22%);
}

.description {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: hsl(220, 15%, 55%);
}